name: build-website

on:
  push:
    branches:
      - main
      - feature/**
  pull_request:

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}-${{ github.event.pull_request.base.sha }}-${{ github.event_name }}
  cancel-in-progress: ${{ github.event_name == 'pull_request' }}

jobs:
  pre_job:
    runs-on: ubuntu-latest
    outputs:
      should_skip: ${{ steps.skip_check.outputs.should_skip }}
    steps:
      - id: skip_check
        uses: fkirc/skip-duplicate-actions@v5.3.1

  build-website:
    name: Build Website
    if: ${{ needs.pre_job.outputs.should_skip != 'true' || github.event_name != 'pull_request' }}
    timeout-minutes: 40
    needs: pre_job
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - uses: actions/setup-node@v4
        with:
          node-version: 18.18.0
          cache: 'npm'
          cache-dependency-path: 'docs/package-lock.json'

      - name: Build Website
        run: bash build_docs.bash x86_64-linux-gnu-ubuntu-20.04
        env:
          SKIP_MINIFY_ALL: 1
